<div class="layout">
  <!-- Sidebar -->
  <div class="sidebar" [ngClass]="{'expanded': isExpanded}">
    <div class="toggle-button" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </div>

    <div class="menu-items">
      <a routerLink="/tasks" routerLinkActive="active">
        <mat-icon>view_agenda</mat-icon>
        <span class="menu-text" *ngIf="isExpanded">Tasks</span>
      </a>
      <a routerLink="/users" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        <span class="menu-text" *ngIf="isExpanded">Users</span>
      </a>
    </div>
  </div>
</div>