.layout {
  display: flex;
  height: 100vh;

  .sidebar {
    background-color: white; // Fondo claro
    width: 60px; // Ancho cuando está colapsado
    transition: width 0.3s ease;
    height: 100vh;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); // Sombra para dar profundidad

    &.expanded {
      width: 220px; // Ancho cuando está expandido
    }

    .toggle-button {
      display: flex;
      justify-content: center;
      cursor: pointer;
      margin-bottom: 20px;

      mat-icon {
        font-size: 28px;
        color: #333;
      }
    }

    .menu-items {
      display: flex;
      flex-direction: column;

      a {
        display: flex;
        justify-content: space-evenly; // Ajuste horizontal entre icono y texto
        align-items: center; // Alineación vertical centrada
        padding: 15px;
        text-decoration: none;
        color: #000; // Íconos y texto inactivos en negro
        transition: background-color 0.3s ease, color 0.3s ease;

        mat-icon {
          font-size: 24px;
          transition: color 0.3s ease;
          color: #000;
        }

        .menu-text {
          font-size: 18px;
          color: #000;
          transition: color 0.3s ease, opacity 0.3s ease;
          opacity: 1; // Siempre visible cuando está expandido
        }

        &:hover {
          background-color: #e0e0e0; // Fondo en hover
          mat-icon {
            color: #ff4081; // Íconos en rojizo en hover
          }
          .menu-text {
            color: #ff4081; // Texto en rojizo en hover
          }
        }

        &.active {
          background-color: #ff4081; // Fondo rojizo cuando está activo
          mat-icon {
            color: #fff; // Íconos blancos cuando están activos
          }
          .menu-text {
            color: #fff; // Texto blanco cuando está activo
          }
        }
      }
    }
  }

  .content {
    flex: 1; // Toma todo el espacio restante
    padding: 20px;
    transition: margin-left 0.3s ease;

    // Margen para respetar el espacio del sidebar
    margin-left: 60px;

    &.expanded {
      margin-left: 220px; // Margen mayor cuando el sidebar está expandido
    }
  }
}
