.task-form {
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Arranges children in a column */
  gap: 1rem; /* Adds space between elements */
  padding: 1rem; /* Adds padding inside the form */

  /* Ensures that form fields and cards take full width */
  mat-form-field,
  mat-card {
    width: 100%; /* Makes fields and cards stretch to full width of the container */
  }

  .user-container {
    margin-bottom: 1rem; /* Adds space below each user container */
  }

  .skill-item {
    display: flex; /* Enables flexbox layout for skills */
    align-items: center; /* Aligns items vertically in the center */
    gap: 0.5rem; /* Adds space between skill items */
  }

  .action-buttons {
    display: flex; /* Enables flexbox layout for action buttons */
    justify-content: space-between; /* Distributes buttons evenly with space between */
  }

  @media (min-width: 768px) {
    .task-form {
      flex-direction: row; /* Changes layout to row on larger screens */
      flex-wrap: wrap; /* Allows wrapping of elements in case of overflow */

      mat-form-field {
        width: 48%; /* Makes form fields take up nearly half of the width */
      }

      .action-buttons {
        justify-content: flex-start; /* Aligns action buttons to the left */
      }
    }
  }
}

.assignedUserscontainer {
  max-height: 300px; /* Sets a maximum height for the user container */
  overflow: auto; /* Enables scrolling if content exceeds maximum height */
}
