.kanban-board {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Distribute space between items */
  flex-direction: column; /* Arrange children in a column */
  padding: 1rem; /* Add padding around the board */
}

.kanban-column {
  width: 30%; /* Set each column width to 30% of the container */
  padding: 10px; /* Add padding inside each column */
  background-color: white; /* Set the background color to white */
  border-radius: 8px; /* Round the corners of the column */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  margin-bottom: 1rem; /* Add space below each column */
}

.kanban-list {
  min-height: 200px; /* Minimum height for the task list */
  max-height: 500px; /* Maximum height for the task list */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
  padding: 10px 0; /* Vertical padding for the list */
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute space between items */
  gap: 20px; /* Space between items */
  flex-direction: column; /* Arrange tasks in a column */
}

.mat-mdc-card-title {
  margin: auto !important; /* Center the title within the card */
  font-weight: bold; /* Make the title bold */
}

mat-card {
  margin-bottom: 10px; /* Space below each card */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to cards */
  border-top: 2px solid #ddd; /* Light gray border on top */
  border-right: 2px solid #ddd; /* Light gray border on the right */
  border-left: 2px solid #ddd; /* Light gray border on the left */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.add-task-btn {
  background-color: #ff4081 !important; /* Set background color for the add task button */
  color: white !important; /* Set text color to white */
  align-self: auto; /* Align the button automatically within its container */
  max-width: 15%; /* Set a maximum width for the button */
}

.task-list {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute space between items */
  gap: 20px; /* Space between items */
  min-height: 200px; /* Minimum height for the task list */
}

.card-new {
  border-bottom: 3px solid #009cff !important; /* Blue border for new tasks */
}

.card-pending {
  border-bottom: 3px solid #ffa600 !important; /* Orange border for pending tasks */
}

.card-complete {
  border-bottom: 3px solid #00c749 !important; /* Green border for completed tasks */
}

.card-deleted {
  border-bottom: 3px solid #ff5454 !important; /* Red border for deleted tasks */
}
