<div class="kanban-board">

    <button mat-raised-button class="add-task-btn" (click)="createTask()">Crear Nueva Tarea</button>

    <div class="task-list" cdkDropListGroup>
        <!-- Nueva Tareas -->
        <div class="kanban-column">
            <h3>Nuevas Tareas</h3>
            <div cdkDropList [cdkDropListData]="(newTasks$ | async) ?? []" class="kanban-list" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let task of (newTasks$ | async) ?? []" cdkDrag>
                    <mat-card>
                        <mat-card-title>{{ task.title }}</mat-card-title>
                        <mat-card-content>
                            <p>{{ task.description }}</p>
                            <p>{{ task.deadline | date }}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>

        <!-- Tareas Pendientes -->
        <div class="kanban-column">
            <h3>Tareas Pendientes</h3>
            <div cdkDropList [cdkDropListData]="(pendingTasks$ | async) ?? []" class="kanban-list" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let task of (pendingTasks$ | async) ?? []" cdkDrag>
                    <mat-card>
                        <mat-card-title>{{ task.title }}</mat-card-title>
                        <mat-card-content>
                            <p>{{ task.description }}</p>
                            <p>{{ task.deadline | date }}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>

        <!-- Tareas Completadas -->
        <div class="kanban-column">
            <h3>Tareas Completadas</h3>
            <div cdkDropList [cdkDropListData]="(completedTasks$ | async) ?? []" class="kanban-list" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let task of (completedTasks$ | async) ?? []" cdkDrag>
                    <mat-card>
                        <mat-card-title>{{ task.title }}</mat-card-title>
                        <mat-card-content>
                            <p>{{ task.description }}</p>
                            <p>{{ task.deadline | date }}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
