<div class="user-search">
  <mat-form-field appearance="outline">
    <mat-label>Buscar por nombre o edad</mat-label>
    <input matInput [(ngModel)]="searchQuery" (input)="filterUsers()" />
    <button mat-icon-button matSuffix (click)="searchUsers()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button class="add-user-btn" (click)="openUserForm()">Crear Usuario</button>

</div>

<div class="user-list">
  <div class="user-card" *ngFor="let user of filteredUserList$ | async">
    <h3>{{ user.fullName }}</h3>
    <p>Edad: {{ user.age }}</p>
    <ul>
      <li *ngFor="let skill of user.skills">{{ skill }}</li>
    </ul>
    <button mat-icon-button class="edit-button" (click)="editUser(user)">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
